.header-index.about {
  border-bottom: 1px solid #f8f9fa;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  height: 80px;
}

.horizontal-line {
  margin-top: 0.5rem;
  width: 44%;
  border-top: solid 1px #495057;
}

.about-item {
  padding-top: 6rem;
}
.about-item .text-primary {
  color: #bcac76 !important;
  letter-spacing: 0.5em;
}
.about-item .display-3 {
  font-weight: bold;
  font-size: 72px;
}
.about-item .text-muted {
  color: #868e96 !important;
  font-size: 20px;
  line-height: 31px;
  max-width: 100%;
}

.about__main h6 {
  letter-spacing: 0.5em;
  font-weight: bold;
}
.about__main h2 {
  font-weight: bold;
}
.about__main p {
  color: #868e96 !important;
}

.about-center {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  gap: 6rem;
}
.about-center h4 {
  font-weight: bold;
}
.about-center h2 {
  font-weight: bold;
}
.about-center .text-lg {
  line-height: 1.6;
  font-size: 20px;
  color: #868e96 !important;
  max-width: 94%;
}

.testimonial {
  padding-top: 6rem;
}
.testimonial .testimonial-item img {
  width: 75%;
}
.testimonial .testimonial-item blockquote {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 508.044 508.044' style='enable-background:new 0 0 508.044 508.044;' fill='%23dcd4b8' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M0.108,352.536c0,66.794,54.144,120.938,120.937,120.938c66.794,0,120.938-54.144,120.938-120.938 s-54.144-120.937-120.938-120.937c-13.727,0-26.867,2.393-39.168,6.61C109.093,82.118,230.814-18.543,117.979,64.303 C-7.138,156.17-0.026,348.84,0.114,352.371C0.114,352.426,0.108,352.475,0.108,352.536z'/%3E%3Cpath d='M266.169,352.536c0,66.794,54.144,120.938,120.938,120.938s120.938-54.144,120.938-120.938S453.9,231.599,387.106,231.599 c-13.728,0-26.867,2.393-39.168,6.61C375.154,82.118,496.875-18.543,384.04,64.303C258.923,156.17,266.034,348.84,266.175,352.371 C266.175,352.426,266.169,352.475,266.169,352.536z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  padding-top: 16px;
}
.testimonial .testimonial-item blockquote p {
  font-family: "Playfair Display", serif !important;
  font-size: 32px;
  color: #000000;
}
.testimonial .testimonial-item blockquote .text-primary {
  color: #bcac76 !important;
  font-size: 20px;
}
.testimonial .testimonial-item .text-muted {
  line-height: 1.6;
  max-width: 98%;
}

.team__wrapper .team__item {
  padding-top: 6rem;
  display: flex;
}
.team__wrapper .team__item .text-primary {
  color: #bcac76 !important;
  font-weight: bold;
  letter-spacing: 0.5em;
}
.team__wrapper .team__item h1 {
  font-size: 72px;
  font-weight: bold;
}
.team__wrapper .team__item .text-muted {
  font-size: 16px !important;
}
.team__wrapper .team-member {
  padding-top: 5rem;
}
.team__wrapper .team-member img {
  max-width: 69%;
}
.team__wrapper .team-member h4 {
  padding-top: 20px;
  font-size: 16px;
}
.team__wrapper .team-member .text-muted {
  font-size: 14px;
}
.team__wrapper .team-member .text-center {
  padding-top: 10px;
}

.swiper-demo {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.swiper-demo .myswiper {
  position: relative;
  padding-bottom: 40px;
}
.swiper-demo img {
  width: 50%;
  opacity: 0.7;
}
.swiper-demo .card {
  padding: 0 8px;
  overflow: hidden;
  background: transparent;
  border: none;
}
.swiper-demo .card .card__image {
  text-align: center;
}
.swiper-demo .card__title {
  text-align: center;
  transition: opacity 0.3s;
}
.swiper-demo .swiper-slide:not(.swiper-slide-active) .card__title {
  opacity: 0;
}

.text__wrapper {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.text__wrapper .text-base {
  padding-bottom: 4rem;
}
.text__wrapper .text-base h2 {
  font-weight: bold;
}
.text__wrapper .text-sm {
  font-size: 14px;
}
.text__wrapper .text-muted {
  color: #868e96 !important;
}

@media screen and (max-width: 768px) {
  .about-item .display-3 {
    font-size: 43px;
  }
  .about-item .text-muted {
    max-width: 95%;
  }
  .about__main .img-fluid {
    padding-top: 19px;
    padding-bottom: 19px;
  }
  .about-center {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0;
  }
  .about-center .text-lg {
    max-width: 97%;
  }
  .testimonial .testimonial-item .col-lg-5 {
    text-align: center;
    padding-bottom: 30px;
  }
  .team__wrapper .team__item h1 {
    font-size: 43px;
  }
  #swiper-brand img {
    width: 90%;
  }
  .text__wrapper {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
  .text__wrapper .text-base h2 {
    font-size: 32px;
    max-width: 97%;
  }
  .text__wrapper .text-muted {
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .about-center {
    flex-wrap: wrap;
    gap: 0;
  }
  .testimonial .testimonial-item {
    flex-direction: column;
  }
  .testimonial .testimonial-item .col-lg-5 {
    text-align: center;
    padding-bottom: 40px;
  }
  .team__wrapper .team-member img {
    max-width: 82%;
  }
}/*# sourceMappingURL=about.css.map */