@charset "UTF-8";
.modal-dialog {
  width: 75% !important;
  max-width: 100% !important;
}
.modal-dialog .modal-content {
  height: 750px;
  border-radius: 0px !important;
}
.modal-dialog .modal-body .type-btns {
  margin-bottom: 45px;
}
.modal-dialog .modal-body .type-btns button {
  border: none;
  color: #bcac76;
  border: 1px solid #bcac76;
  background: transparent;
  padding: 4px 9px;
  letter-spacing: 0.3em;
  font-size: 12.8px;
  transition: 0.3s ease-in-out;
}
.modal-dialog .modal-body .type-btns button:hover {
  color: black !important;
  background: #bcac76;
  border: 1px solid #bcac76;
}
.modal-dialog .modal-body .type-btns button.active {
  background-color: #bcac76;
  color: #000;
}
.modal-dialog .modal-body .detail-option {
  font-weight: bold;
}
.modal-dialog .modal-body .detail-option span {
  font-weight: normal;
  font-size: 12.8px;
}
.modal-dialog .modal-body .select-menu {
  width: 48%;
  margin-bottom: 20px;
}
.modal-dialog .modal-body .select-menu .select-btn {
  display: flex;
  height: 44px;
  background: #fff;
  padding: 16px;
  font-size: 18px;
  font-weight: 400;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  border: 1px solid #dee2e6;
}
.modal-dialog .modal-body .select-menu .select-btn .sBtn-text {
  letter-spacing: 0.3em;
  font-size: 13px;
  text-transform: uppercase;
}
.modal-dialog .modal-body .select-menu .options {
  position: absolute;
  width: 222px;
  overflow-y: auto;
  max-height: 295px;
  padding: 10px;
  background: #fff;
  visibility: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
}
.modal-dialog .modal-body .select-menu .options .option {
  display: flex;
  height: 40px;
  cursor: pointer;
  padding: 0 6px;
  align-items: center;
  background: #fff;
  transition: 0.3s ease-in-out;
}
.modal-dialog .modal-body .select-menu .options .option:hover .option-text {
  color: #9a884b;
}
.modal-dialog .modal-body .select-menu .options .option i {
  font-size: 25px;
  margin-right: 12px;
}
.modal-dialog .modal-body .select-menu .options .option .option-text {
  font-size: 15px;
  color: #333;
}
.modal-dialog .modal-body .select-btn i {
  font-size: 13px;
  transition: 0.3s;
}
.modal-dialog .modal-body .select-menu.active .select-btn i {
  transform: rotate(-180deg);
}
.modal-dialog .modal-body .select-menu.active .options {
  display: block;
  opacity: 0;
  z-index: 10;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}
.modal-dialog .modal-body .swiper-modal {
  height: 750px;
}
.modal-dialog .modal-body .close-btn {
  display: flex;
  justify-content: end;
  width: 100%;
}
.modal-dialog .modal-body .close-btn span {
  font-size: 0;
}
.modal-dialog .modal-body .btn-close {
  display: block;
  width: 20px; /* Örnek olarak genişlik */
  height: 20px; /* Örnek olarak yükseklik */
  transition: transform 0.3s ease; /* Dönme efektinin süresi ve geçiş türü */
}
.modal-dialog .modal-body .btn-close:hover {
  transform: rotate(180deg);
}
.modal-dialog .modal-body #main-image {
  width: 538px !important;
  height: 538px !important;
  background-size: cover;
  margin-right: 25px !important;
}
.modal-dialog .modal-body #thumb-image {
  background-size: cover;
  width: 99.75px !important;
}
.modal-dialog .modal-body .gallery-top {
  position: relative;
  height: 550px;
}
.modal-dialog .modal-body .gallery-top .badge {
  position: absolute;
  top: 3%;
  left: 17px;
  right: 0;
  width: 51px;
  z-index: 111;
  display: inline-block;
  padding: 5px 5px;
  color: #000;
  background-color: #bcac76;
}
.modal-dialog .modal-body .gallery-top .badge-dark {
  position: absolute;
  top: 12%;
  left: 17px;
  right: 0;
  width: 45px;
  z-index: 111;
  display: inline-block;
  padding: 5px 5px;
  color: #fff;
  background-color: #000;
}
.modal-dialog .modal-body #thumb-image {
  height: 98px !important;
}
.modal-dialog .modal-body .modal-wrapper {
  padding: 0 8%;
}
.modal-dialog .modal-body .modal-wrapper h2 {
  font-size: 32px;
  font-weight: bold;
}
.modal-dialog .modal-body .modal-wrapper .price-modal {
  justify-content: space-between;
}
.modal-dialog .modal-body .modal-wrapper .price-modal ul {
  display: flex;
  gap: 1rem;
}
.modal-dialog .modal-body .modal-wrapper .price-modal .text-muted {
  padding-top: 2px;
}
.modal-dialog .modal-body .modal-wrapper .list-inline .fa {
  font-size: 13px;
  color: #bcac76 !important;
}
.modal-dialog .modal-body .modal-wrapper .list-inline .text-gray {
  color: #dee2e6 !important;
}
.modal-dialog .modal-body .modal-wrapper .text-gray {
  color: #dee2e6;
}
.modal-dialog .modal-body .modal-wrapper .review-item {
  margin-left: 10px;
}
.modal-dialog .modal-body .cart-group .cart-item {
  display: flex;
}
.modal-dialog .modal-body .cart-group .cart-item input {
  width: 15%;
  text-align: center;
}
.modal-dialog .modal-body .cart-group .cart-item button {
  width: 85%;
  border: none;
  background: #000;
  color: #fff;
  padding: 10px 20px;
}
.modal-dialog .modal-body .social-category .wish-list i,
.modal-dialog .modal-body .social-category .wish-list a {
  cursor: pointer;
  color: #bcac76 !important;
}
.modal-dialog .modal-body .social-category .wish-list:hover a {
  text-decoration: underline !important;
}
.modal-dialog .modal-body .social-category .wish-list:hover i {
  color: grey !important;
}
.modal-dialog .modal-body .social-category .text-end i {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.modal-dialog .modal-body .social-category .text-end i:hover {
  color: #bcac76;
}
.modal-dialog .modal-body .bottom-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
}
.modal-dialog .modal-body .bottom-wrapper strong {
  font-size: 16px;
}
.modal-dialog .modal-body .bottom-wrapper a {
  color: #60686f !important;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
}
.modal-dialog .modal-body .bottom-wrapper a:hover {
  text-decoration: underline !important;
}

@media screen and (max-width: 576px) {
  #exampleModal .gallery-top {
    height: auto !important;
  }
  #exampleModal .modal-body {
    padding: 10px 8px;
  }
  #exampleModal .gallery-thumbs {
    padding-top: 10px;
    justify-content: center;
  }
  #exampleModal .modal-content {
    height: 200vh !important;
  }
  #exampleModal .modal-dialog {
    width: 95% !important;
  }
  #exampleModal .swiper-modal {
    flex-direction: column;
    height: 100vh !important;
  }
  #exampleModal #main-image {
    width: 100% !important;
    height: 350px !important;
    margin-right: 10px !important;
  }
  #exampleModal .modal-body .modal-wrapper {
    padding: 0 1%;
  }
  #exampleModal #thumb-image {
    max-width: 18.8% !important;
    height: 76px !important;
  }
  #exampleModal .modal__index {
    position: relative;
  }
  #exampleModal .modal__index .close-btn {
    position: absolute;
    top: -65%;
    right: 4%;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  #exampleModal {
    height: 100vh !important;
  }
  #exampleModal .gallery-top {
    height: auto !important;
  }
  #exampleModal .modal-body {
    padding: 10px 8px;
  }
  #exampleModal .gallery-thumbs {
    padding-top: 10px;
    justify-content: center;
  }
  #exampleModal .modal-content {
    height: 200vh !important;
  }
  #exampleModal .modal-dialog {
    width: 95% !important;
  }
  #exampleModal .swiper-modal {
    flex-direction: column;
    height: 100vh !important;
  }
  #exampleModal #main-image {
    width: 100% !important;
    height: 566px !important;
    margin-right: 10px !important;
  }
  #exampleModal .modal-body .modal-wrapper {
    padding: 0 1%;
  }
  #exampleModal #thumb-image {
    max-width: 18.8% !important;
    height: 76px !important;
    width: 133.75px !important;
  }
  #exampleModal .modal__index {
    position: relative;
  }
  #exampleModal .modal__index .close-btn {
    position: absolute;
    top: -102%;
    right: 2%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #exampleModal {
    height: 100vh !important;
  }
  #exampleModal .gallery-top {
    height: auto !important;
  }
  #exampleModal .modal-body {
    padding: 10px 8px;
  }
  #exampleModal .gallery-thumbs {
    padding-top: 10px;
    justify-content: center;
  }
  #exampleModal .modal-content {
    height: 208vh !important;
  }
  #exampleModal .modal-dialog {
    width: 56% !important;
  }
  #exampleModal .swiper-modal {
    flex-direction: column;
    height: 100vh !important;
  }
  #exampleModal #main-image {
    width: 100% !important;
    height: 566px !important;
    margin-right: 10px !important;
  }
  #exampleModal .modal-body .modal-wrapper {
    padding: 0 1%;
  }
  #exampleModal #thumb-image {
    max-width: 18.8% !important;
    height: 76px !important;
  }
  #exampleModal .modal__index {
    position: relative;
  }
  #exampleModal .modal__index .close-btn {
    position: absolute;
    top: -101%;
    right: 2%;
  }
}/*# sourceMappingURL=modal.css.map */